In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from scipy import stats

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score, f1_score, classification_report, confusion_matrix
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.linear_model import LinearRegression, LogisticRegression

# from imblearn.over_sampling import SMOTE
import xgboost as xgb
import lightgbm as lgb

import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [5]:
# Load data (update path as needed)
df = pd.read_csv('unsw_datathon_2025.csv')
print(f"Dataset shape: {df.shape}")
df.head()

Dataset shape: (97429, 76)

,tarrdatetime_year,arrdatetime_year,depdatetime_year,admdatetimeop_year,sdatetime_year,gdate_year,wdisch_year,hdisch_year,tarrdatetime_month,arrdatetime_month,...,fwalk2,fbonemed2,fop2,ahos_code,surg,gerimed,mort30d,mort90d,mort120d,mort365d
0,2016.0,2016.0,2016.0,NaN,2016.0,2016.0,2016.0,2016.0,1.0,1.0,...,NaN,NaN,NaN,q2dGVL,2,1.0,1.0,1.0,1.0,2.0
1,NaN,2016.0,2016.0,NaN,2016.0,2016.0,2016.0,2016.0,NaN,1.0,...,3.0,3.0,1.0,5ndV7C,2,1.0,1.0,1.0,1.0,1.0
2,2016.0,2016.0,2016.0,NaN,2016.0,2016.0,2016.0,2016.0,1.0,1.0,...,NaN,NaN,NaN,NW06AU,2,1.0,1.0,1.0,1.0,1.0
3,NaN,2016.0,2016.0,NaN,2016.0,2016.0,2016.0,2016.0,NaN,1.0,...,NaN,NaN,NaN,GZPU45,2,1.0,1.0,2.0,2.0,2.0
4,NaN,2016.0,2016.0,NaN,2016.0,2016.0,2016.0,2016.0,NaN,1.0,...,1.0,2.0,1.0,rHZmbk,2,1.0,1.0,1.0,1.0,1.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97429 entries, 0 to 97428
Data columns (total 76 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tarrdatetime_year       14670 non-null  float64
 1   arrdatetime_year        93275 non-null  float64
 2   depdatetime_year        90073 non-null  float64
 3   admdatetimeop_year      2089 non-null   float64
 4   sdatetime_year          94496 non-null  float64
 5   gdate_year              85012 non-null  float64
 6   wdisch_year             95785 non-null  float64
 7   hdisch_year             86931 non-null  float64
 8   tarrdatetime_month      14670 non-null  float64
 9   arrdatetime_month       93275 non-null  float64
 10  depdatetime_month       90073 non-null  float64
 11  admdatetimeop_month     2089 non-null   float64
 12  sdatetime_month         94496 non-null  float64
 13  gdate_month             85012 non-null  float64
 14  wdisch_month            95785 non-null  float64
 15  hdisch_month            86931 non-null  float64
 16  tarrdatetime_datediff   14670 non-null  float64
 17  arrdatetime_datediff    93275 non-null  float64
 18  depdatetime_datediff    90073 non-null  float64
 19  admdatetimeop_datediff  2089 non-null   float64
 20  sdatetime_datediff      94496 non-null  float64
 21  gdate_datediff          85012 non-null  float64
 22  wdisch_datediff         95785 non-null  float64
 23  hdisch_datediff         86931 non-null  float64
 24  tarrdatetime_hms        14670 non-null  object
 25  arrdatetime_hms         93275 non-null  object
 26  depdatetime_hms         90073 non-null  object
 27  admdatetimeop_hms       2089 non-null   object
 28  sdatetime_hms           94496 non-null  object
 29  age                     97429 non-null  int64
 30  sex                     97373 non-null  float64
 31  ptype                   95141 non-null  float64
 32  uresidence              97027 non-null  float64
 33  e_dadmit                96820 non-null  float64
 34  painassess              71238 non-null  float64
 35  painmanage              83936 non-null  float64
 36  tfanalges               2598 non-null   float64
 37  ward                    95688 non-null  float64
 38  walk                    95560 non-null  float64
 39  cogassess               90219 non-null  float64
 40  cogstat                 94113 non-null  float64
 41  addelassess             14749 non-null  float64
 42  bonemed                 94432 non-null  float64
 43  passess                 95113 non-null  float64
 44  side                    97429 non-null  int64
 45  afracture               96238 non-null  float64
 46  ftype                   96299 non-null  float64
 47  asa                     86000 non-null  float64
 48  frailty                 47127 non-null  float64
 49  delay                   79135 non-null  float64
 50  anaesth                 94079 non-null  float64
 51  analges                 93371 non-null  float64
 52  consult                 93339 non-null  float64
 53  wbear                   94285 non-null  float64
 54  mobil                   83033 non-null  float64
 55  pulcers                 92284 non-null  float64
 56  fassess                 93421 non-null  float64
 57  dbonemed1               92541 non-null  float64
 58  delassess               82693 non-null  float64
 59  malnutrition            70379 non-null  float64
 60  ons                     14131 non-null  float64
 61  mobil2                  60778 non-null  float64
 62  wdest                   95959 non-null  float64
 63  dresidence              84504 non-null  float64
 64  fresidence2             38987 non-null  float64
 65  weight_bear120          11911 non-null  float64
 66  fwalk2                  36323 non-null  float64
 67  fbonemed2               35579 non-null  float64
 68  fop2                    39357 non-null  float64
 69  ahos_code               97429 non-null  object
 70  surg                    97429 non-null  int64
 71  gerimed                 96282 non-null  float64
 72  mort30d                 97409 non-null  float64
 73  mort90d                 97409 non-null  float64
 74  mort120d                97409 non-null  float64
 75  mort365d                97409 non-null  float64
dtypes: float64(67), int64(3), object(6)
memory usage: 56.5+ MB

In [17]:
# print(df.isnull().sum())
null_counts_df = pd.DataFrame(df.isnull().sum()).reset_index()
null_counts_df.columns = ['Column', 'Null Count']
pd.set_option('display.max_rows', 79)
null_counts_df

                    Column  Null Count
0        tarrdatetime_year       82759
1         arrdatetime_year        4154
2         depdatetime_year        7356
3       admdatetimeop_year       95340
4           sdatetime_year        2933
5               gdate_year       12417
6              wdisch_year        1644
7              hdisch_year       10498
8       tarrdatetime_month       82759
9        arrdatetime_month        4154
10       depdatetime_month        7356
11     admdatetimeop_month       95340
12         sdatetime_month        2933
13             gdate_month       12417
14            wdisch_month        1644
15            hdisch_month       10498
16   tarrdatetime_datediff       82759
17    arrdatetime_datediff        4154
18    depdatetime_datediff        7356
19  admdatetimeop_datediff       95340
20      sdatetime_datediff        2933
21          gdate_datediff       12417
22         wdisch_datediff        1644
23         hdisch_datediff       10498
24        tarrdatetime_hms       82759
25         arrdatetime_hms        4154
26         depdatetime_hms        7356
27       admdatetimeop_hms       95340
28           sdatetime_hms        2933
29                     age           0
30                     sex          56
31                   ptype        2288
32              uresidence         402
33                e_dadmit         609
34              painassess       26191
35              painmanage       13493
36               tfanalges       94831
37                    ward        1741
38                    walk        1869
39               cogassess        7210
40                 cogstat        3316
41             addelassess       82680
42                 bonemed        2997
43                 passess        2316
44                    side           0
45               afracture        1191
46                   ftype        1130
47                     asa       11429
48                 frailty       50302
49                   delay       18294
50                 anaesth        3350
51                 analges        4058
52                 consult        4090
53                   wbear        3144
54                   mobil       14396
55                 pulcers        5145
56                 fassess        4008
57               dbonemed1        4888
58               delassess       14736
59            malnutrition       27050
60                     ons       83298
61                  mobil2       36651
62                   wdest        1470
63              dresidence       12925
64             fresidence2       58442
65          weight_bear120       85518
66                  fwalk2       61106
67               fbonemed2       61850
68                    fop2       58072
69               ahos_code           0
70                    surg           0
71                 gerimed        1147
72                 mort30d          20
73                 mort90d          20
74                mort120d          20
75                mort365d          20

In [18]:
null_counts_df.describe()

         Null Count
count     76.000000
mean   22521.236842
std    32146.150121
min        0.000000
25%     1837.000000
50%     5016.500000
75%    26405.750000
max    95340.000000

In [22]:
dic = pd.read_csv('/Users/irajput/Downloads/datathon 2025 dec/unsw_datathon_2025_data_dict.csv')
dic.head(100)

,pos,variable,label,col_type,missing,levels,value_labels
0,1,tarrdatetime_year,Transfer Hospital Arrival Year,dbl,82759,NaN,NaN
1,2,arrdatetime_year,Operating Hospital Arrival Year,dbl,4154,NaN,NaN
2,3,depdatetime_year,Operating Hospital Departure Year,dbl,7356,NaN,NaN
3,4,admdatetimeop_year,In-patient Fracture Year,dbl,95340,NaN,NaN
4,5,sdatetime_year,Hip Fracture Surgery Year,dbl,2933,NaN,NaN
5,6,gdate_year,Geriatric Medicine Assessment Year,dbl,12417,NaN,NaN
6,7,wdisch_year,Discharge From Acute Ward Year,dbl,1644,NaN,NaN
7,8,hdisch_year,Discharge From Hospital Year,dbl,10498,NaN,NaN
8,9,tarrdatetime_month,Transfer Hospital Arrival Month,dbl,82759,NaN,NaN
9,10,arrdatetime_month,Operating Hospital Arrival Month,dbl,4154,NaN,NaN
10,11,depdatetime_month,Operating Hospital Departure Month,dbl,7356,NaN,NaN
11,12,admdatetimeop_month,In-patient Fracture Month,dbl,95340,NaN,NaN
12,13,sdatetime_month,Hip Fracture Surgery Month,dbl,2933,NaN,NaN
13,14,gdate_month,Geriatric Medicine Assessment Month,dbl,12417,NaN,NaN
14,15,wdisch_month,Discharge From Acute Ward Month,dbl,1644,NaN,NaN
15,16,hdisch_month,Discharge From Hospital Month,dbl,10498,NaN,NaN
16,17,tarrdatetime_datediff,Transfer Hospital Arrival Date Difference (days),drtn,82759,NaN,NaN
17,18,arrdatetime_datediff,Operating Hospital Arrival Date Difference (days),drtn,4154,NaN,NaN
18,19,depdatetime_datediff,Operating Hospital Departure Date Difference (...,drtn,7356,NaN,NaN
19,20,admdatetimeop_datediff,In-patient Fracture Date Difference (days),drtn,95340,NaN,NaN
20,21,sdatetime_datediff,Hip Fracture Surgery Date Difference (days),drtn,2933,NaN,NaN
21,22,gdate_datediff,Geriatric Medicine Assessment Date Difference ...,drtn,12417,NaN,NaN
22,23,wdisch_datediff,Discharge From Acute Ward Date Difference (days),drtn,1644,NaN,NaN
23,24,hdisch_datediff,Discharge From Hospital Date Difference (days),drtn,10498,NaN,NaN
24,25,tarrdatetime_hms,Transfer Hospital Arrival Time,chr,82759,NaN,NaN
25,26,arrdatetime_hms,Operating Hospital Arrival Time,chr,4154,NaN,NaN
26,27,depdatetime_hms,Operating Hospital Departure Time,chr,7356,NaN,NaN
27,28,admdatetimeop_hms,In-patient Fracture Time,chr,95340,NaN,NaN
28,29,sdatetime_hms,Hip Fracture Surgery Time,chr,2933,NaN,NaN
29,30,age,Age,dbl,0,NaN,NaN
30,31,sex,Sex,dbl+lbl,56,NaN,[1] Male; [2] Female; [3] Intersex or indetermine
31,32,ptype,Patient Type,dbl+lbl,2288,NaN,[1] Public; [2] Private; [3] Overseas
32,33,uresidence,Usual Place of Residence,dbl+lbl,402,NaN,[1] Private residence; [2] Residential aged ca...
33,34,e_dadmit,ED Admission of Operating Hospital,dbl+lbl,609,NaN,[1] Yes; [2] No - transferred from another hos...
34,35,painassess,Pain Assessment,dbl+lbl,26191,NaN,[1] Within 30 minutes of ED presentation; [2] ...
35,36,painmanage,Pain Management,dbl+lbl,13493,NaN,[1] Given within 30 minutes of ED presentation...
36,37,tfanalges,Nerve Block Before Transfer,dbl+lbl,94831,NaN,[1] No; [2] Yes
37,38,ward,Ward Type,dbl+lbl,1741,NaN,[1] Hip fracture unit/Orthopaedic ward/ prefer...
38,39,walk,Pre-admission Walking Ability,dbl+lbl,1869,NaN,[1] Walks without walking aids; [2] Walks with...
39,40,cogassess,Pre-admission Cognitive Assessment,dbl+lbl,7210,NaN,[1] Not assessed; [2] Assessed and normal; [3]...
40,41,cogstat,Pre-admission Cognitive Status,dbl+lbl,3316,NaN,[1] Normal cognition; [2] Impaired cognition o...
41,42,addelassess,Delirium Assessment Prior To Surgery,dbl+lbl,82680,NaN,[1] Not assessed; [2] Assessed and not identif...
42,43,bonemed,Bone Protection Medication At Admission,dbl+lbl,2997,NaN,[1] No bone protection medication; [2] Calcium...
43,44,passess,Pre-operative Medical Assessment,dbl+lbl,2316,NaN,[1] No assessment conducted; [2] Geriatrician ...
44,45,side,Side of Hip Fracture,dbl+lbl,0,NaN,[1] Left; [2] Right
45,46,afracture,Atypical Fracture,dbl+lbl,1191,NaN,[1] Not a pathological or atypical fracture; [...
46,47,ftype,Type of Fracture,dbl+lbl,1130,NaN,[1] Intracapsular undisplaced/impacted displac...
47,48,asa,ASA Grade,dbl+lbl,11429,NaN,[1] Healthy individual with no systemic diseas...
48,49,frailty,Clinical Frailty Scale,dbl+lbl,50302,NaN,"[1] Very Fit; [2] Well; [3] Well, with treated..."
49,50,delay,Surgery Delay,dbl+lbl,18294,NaN,"[1] No delay, surgery completed <48 hours; [2]..."
50,51,anaesth,Type of Anaesthesia,dbl+lbl,3350,NaN,[1] General anaesthesia; [2] Spinal anaesthesi...
51,52,analges,Analgesia - Nerve Block,dbl+lbl,4058,NaN,[1] Nerve block administered before arriving i...
52,53,consult,Consultant Surgeon Present,dbl+lbl,4090,NaN,[1] No; [2] Yes
53,54,wbear,Postoperative Weight Bearing Status,dbl+lbl,3144,NaN,[1] Unrestricted weight bearing; [2] Restricte...
54,55,mobil,First Day Mobilisation,dbl+lbl,14396,NaN,[1] Patient out of bed and given opportunity t...
55,56,pulcers,New Skin Pressure Injuries,dbl+lbl,5145,NaN,[1] No; [2] Yes
56,57,fassess,Specialist Falls Assessment,dbl+lbl,4008,NaN,[1] No; [2] Performed during admission; [3] Aw...
57,58,dbonemed1,Bone Protection Medication At Hospital Discharge,dbl+lbl,4888,NaN,[1] No bone protection medication; [2] Yes - C...
58,59,delassess,Post-operative Delirium Assessment,dbl+lbl,14736,NaN,[1] Not assessed; [2] Assessed and not identif...
59,60,malnutrition,Clinical Malnutrition Assessment,dbl+lbl,27050,NaN,[1] Not done; [2] Malnourished; [3] Not malnou...
60,61,ons,Oral Nutritional Supplements,dbl+lbl,83298,NaN,[1] No; [2] Yes
61,62,mobil2,First Day Walking,dbl+lbl,36651,NaN,[1] No; [2] Yes
62,63,wdest,Discharge Destination From Acute Ward,dbl+lbl,1470,NaN,[1] Private residence; [2] Residential aged ca...
63,64,dresidence,Discharge Place of Residence,dbl+lbl,12925,NaN,[1] Private residence; [2] Residential aged ca...
64,65,fresidence2,Place of Residence at 120-day Follow-up,dbl+lbl,58442,NaN,[1] Private residence; [2] Residential aged ca...
65,66,weight_bear120,Full Weight Bear at 120-day Follow- up,dbl+lbl,85518,NaN,[1] Unrestricted weight bearing; [2] Restricte...
66,67,fwalk2,Walking Ability at 120-day Follow-up,dbl+lbl,61106,NaN,[1] Walks without walking aids; [2] Walks with...
67,68,fbonemed2,Bone Protection Medication at 120-day Follow-up,dbl+lbl,61850,NaN,[1] No bone protection medication; [2] Calcium...
68,69,fop2,Re-operation within 120-day Follow-up,dbl+lbl,58072,NaN,[1] No reoperation; [2] Reduction of dislocate...
69,70,ahos_code,Identifier of Operating Hospital,chr,0,NaN,NaN
70,71,surg,Surgical Repair,dbl+lbl,0,NaN,[1] No; [2] Yes; [3] No â€“ surgical fixation no...
71,72,gerimed,Assessed By Geriatric Medicine,dbl+lbl,1795,NaN,[0] No; [1] Yes; [8] No geriatric medicine ser...
72,73,mort30d,30-day Mortality,dbl+lbl,20,NaN,[1] Alive; [2] Deceased
73,74,mort90d,90-day Mortality,dbl+lbl,20,NaN,[1] Alive; [2] Deceased
74,75,mort120d,120-day Mortality,dbl+lbl,20,NaN,[1] Alive; [2] Deceased
75,76,mort365d,365-day Mortality,dbl+lbl,20,NaN,[1] Alive; [2] Deceased